.search {
    display: flex;
    justify-content: center;
}

.searchbar {
    display: flex;
    justify-content: center;
}

img {
    width: 272px;
    height: 92px;
    padding: 109px 0px 0px;
    margin-bottom: 40px;
}

input {
    width: 582px;
    height: 44px;
    padding: 5px 8px 0px 14px;
    border-radius: 30px;
    border: 1px solid #DFE1E5;
}


